<a href="/dashboard/edit/{{id}}" class="list-group-item list-group-item-action active m-3">
  <div class="post d-flex w-100 justify-content-between">
    <h5 class="title mb-1">{{title}}</h5>
    <small>Posted by {{user.username}} on {{format_date created_at}}</small>
  </div>
  <p class="mb-1">{{content}}</p>
  <p class="edit-link">Edit post</p>
</a>